@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:drama"],
[epub|type~="z3998:drama"] table{
	border-collapse: collapse;
	margin: 1em auto;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	vertical-align: top;
	padding: .5em;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
	font-style: normal; /* This avoids character names being italicised within a stage direction */
}

/* for all-caps effects like BUZZER or PHONE in stage directions */
.stage-effect{
	font-variant: all-small-caps;
}

/* this avoids parentheses around the opening scene description paragraphs */
.scene-description::before,
.scene-description::after{
	content: "";
}

section[epub|type~="z3998:scene"] > p{
	margin: 1em auto;
	width: 75%;
}

abbr[epub|type~="z3998:stage-direction"]{
	font-style: normal;
	font-variant: all-small-caps;
}

abbr[epub|type~="z3998:stage-direction"]::before,
abbr[epub|type~="z3998:stage-direction"]::after{
	content: "";
}

tr.together td{
	padding: 0 .5em 0 0;
	vertical-align: middle;
}

tr.together td:only-child,
tr.together td + td{
	border-left: 1px solid;
}

[epub|type~="z3998:drama"] .together td:last-child{
	padding-left: .5em;
}

[epub|type~="z3998:dramatis-personae"]{
	text-align: center;
}

[epub|type~="z3998:dramatis-personae"] ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

[epub|type~="z3998:dramatis-personae"] ul li{
	margin: 1em;
	font-style: italic;
}

/* this is for descriptions of characters */
[epub|type~="z3998:dramatis-personae"] i{
	font-style: normal;
}

[epub|type~="z3998:dramatis-personae"] p + p{
	text-indent: 0;
}
